<?xml version="1.0"?>
<!--
/**
 * Created by Q-Solutions Studio
 * Qoliber
 *
 * @package  Qoliber_DarkMode
 * @author   Jakub Winkler <jwinkler@qoliber.com> @MagentoNinja
 * @author	 Przemysław Jankowski <pjankowski@qoliber.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Qoliber_DarkMode">
        <sequence>
            <module name="Qoliber_Core"/>
        </sequence>
    </module>
</config>
